<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>收支项目管理--添加</title>
  <link th:href="@{bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
  <script src="js/jquery-3.3.1.min.js" type="text/javascript" charset="UTF-8"></script>
  <script th:src="@{bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<link href="../css/style.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript" src="../js/common.js"></script>
</head>

<body leftmargin="0" topmargin="0" onLoad="MM_preloadImages('../images/login_10.gif','../images/login_12.gif','../images/login_09.gif','../images/login_11.gif')">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="32" align="left" valign="top" class="text006"><table width="98%"  border="0" cellspacing="0" cellpadding="0">
        <tr valign="top">
          <td>【 收支项目管理 】</td>
          <td align="right">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="215" valign="top"><table width="98%"  border="0" cellspacing="0" cellpadding="0">
      <tr align="left" class="bg03">
        <td width="100%" height="29">
          <span class="text001">&nbsp;&nbsp;修改收支项目</span></td>
        </tr>

    </table>
      <table width="98%"  border="0" cellpadding="0" cellspacing="0" class="text008">
        <tr align="center">
          <td width="12%" height="35" align="right">收支类型</td>
          <td width="88%" align="left"><span class="text010">
            <select name="select" class="inp005">
              <option th:text="${item.getType()}==0?'收入':'支出'" selected>收入</option>
              <option value="0">收入</option>
              <option value="1">支出</option>
            </select>
          </span></td>
        </tr>
        <tr align="center" class="bg04">
          <td height="35" align="right">父项目</td>
          <td align="left">
          	<select id="pid" name="select" class="inp005">
              <option th:text="${item.getPid().getName()}" selected>工资</option>
            </select>
          </td>
        </tr>
        <tr align="center">
          <td height="35" align="right">项目名称</td>
          <td align="left"><input id="itemName" name="textfield" th:value="${item.getName()}" type="text" class="inp001"></td>
        </tr>
      </table>
      <table width="98%" border="0" cellpadding="0" cellspacing="0" class="bor001">
        <tr>
          <td width="22%" height="40" align="center" >
            <a id="save" href="#" target="mainframe" onMouseOver="MM_swapImage('Image1','','../images/index_12_1.gif',1)" onMouseOut="MM_swapImgRestore()" onMouseDown="MM_swapImage('Image1','','../images/index_12_2.gif',1)" onMouseUp="MM_swapImage('Image1','','../images/index_12_1.gif',1)"><img src="../images/index_12_0.gif" name="Image1" width="75" height="24" border="0" id="Image1"></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a  href="list.html" target="mainframe" onMouseOver="MM_swapImage('Image2','','../images/login_09.gif',1)" onMouseOut="MM_swapImgRestore()" onMouseDown="MM_swapImage('Image2','','../images/login_11.gif',1)" onMouseUp="MM_swapImage('Image2','','../images/login_09.gif',1)"><img src="../images/login_07.gif" name="Image2" width="75" height="24" border="0" id="Image2"></a></td>
          <td width="78%" align="right">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
<script>

  $(function () {
    $("#itemName").keyup(function () {
      //$("#type option:selected").val()
      var type = $("#type option:selected").val();
      var pid = $("#pid option:selected").val();
      var itemName = $("#itemName").val();
      var item = {"type":type,"name":itemName,"pid.id":pid};
      //alert(typeof item);
      $.ajax({
        url:"/checkItem",
        type:"post",
        data:item,
        dataType:"json",
        success: function (result) {
          var msg = result.msg;
          //清除当前元素的校验状态
          $("#itemName").parent().removeClass("has-success has-error");
          $("#itemName").next("span").text("");
          if(result.code == 100){
            $("#itemName").parent().addClass("has-success");
            $("#itemName").next("span").text(msg);
          }else if(result.code == 200){
            $("#itemName").parent().addClass("has-error");
            $("#itemName").next("span").text(msg);
          }else {
            $("#itemName").parent().addClass("has-error");
            $("#itemName").next("span").text("错误操作");
          }
        }

      })
    })


    $("#save").click(function () {
      var type = $("#type option:selected").val();
      var pid = $("#pid option:selected").val();
      var itemName = $("#itemName").val();
      var id = "[[${item.getId()}]]"
      var item = {"id":id,"type":type,"name":itemName,"pid.id":pid};
      $.ajax({
        url:"/saveItem",
        type:"post",
        data:item,
        dataType:"json",
        success: function (result) {
          var msg = result.msg;
          $("#itemName").parent().removeClass("has-success has-error");
          $("#itemName").next("span").text("");
          if(result.code == 100) {
            window.location.href = "/getAllItems";
          }else {
            $("#itemName").parent().addClass("has-success");
            $("#itemName").next("span").text(msg);
          }
        }
      })
    })

    $.ajax({
      url:"/getParent",
      type:"get",
      dataType:"json",
      success: function (result) {
        $("#pid").empty();
        $.each(result,function (index,ele) {
          var a = "<option value="+ele.id+">"+ele.name+"</option>";
          $("#pid").append(a);
        })
      }
    })
  })

</script>
</html>
